/* Reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #212121;
    color: #dadada;
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.container {
    background-color: red;
    /* color needs to be change. */
    color: #2222;          
    width: 80%;
    height: 90%;
    border: 2px #ffff solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-dashboard {
    width: 100%;
    height: 20%;
    background-origin: red;
}

.container-playground {
    width: 100%;
    height: 70%;
    background-color: green;
}



